@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@200&display=swap');


.container {
  position: absolute;
  width: 1574px;
  height: 820px;
  left: 58px;
  top: 51px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.join-block {
  position: absolute;
  width: 475px;
  height: 287px;
  left: 112px;
  top: 430px;
  background: #F5F5F5;
}