@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@200&display=swap');


* {
  background: #FBEABE;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: -5.21%;
  right: 49.94%;
  top: 9.27%;
  bottom: 55.37%;
  line-height: 194px;
  letter-spacing: 0.015em;
  color: #000000;
}

.container {
  text-align: justify;
  position: absolute;
  width: 1574px;
  height: 820px;
  left: 58px;
  top: 51px;
}

.join-block {
  position: absolute;
  width: 475px;
  height: 287px;
  left: 112px;
  top: 430px;
  background: #F5F5F5;
}

.join-button {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #F2994A;
  border-radius: 6px;
}

.category {
  position: absolute;
  width: 1680px;
  height: 568px;
  left: 5px;
  top: 871px;
  background-image: ;
}